
  <footer class="text-white text-center text-lg-start" style="background-color: #475569;">
  <div class="container p-4">
    <div class="row mt-4">
      <div class="col-lg-4 col-md-12 mb-4 mb-md-0">

        
          <img src="logoWhite.png"   width="100px" > 
  
        <p class="mt-2">{{'FooterAboutUs' | translate}}</p>

        
     
      </div>
      
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4 pb-1" id="contact">{{'FooterContactUs' | translate}}</h5>


        <ul class="list-unstyled ">
         <a href="https://maps.app.goo.gl/cX3fQCUs7GjuWQaq8" target="_blank" style="color: white; text-decoration: none;">
          <li style="display: inline-flex;">
            <i class="m-1 fa-location"></i>
            &nbsp; 
            <p class="m-1 p-0">{{'FooterLocation' | translate}}</p>
          </li>
        </a>

          <a href="tel: 034241467" style="text-decoration: none; color: white;">
          <li style="display: inline-flex;margin-top: 6px;">
            <i class="m-1 fa-contact"></i>
            &nbsp; 
            <p class="m-1 p-0">{{'FooterHomeNumber' | translate}}</p>
          </li>
        </a>
        &nbsp; 
        &nbsp; 

        <a (click)="whatsapp()" href="#" style="text-decoration: none; color: white;">
        <li style="display: inline-flex;margin-top: 6px;">
          <i class="m-1 fa-wsp"></i>
          <p class="m-1 ">{{'FooterMobileNumber' | translate}}</p>
        </li>
      </a>

          <a href="mailto:info@globisoft.com" style="text-decoration: none; color: white;">
          <li style="display: inline-flex; margin-top: 4px;">
            <i class="m-1 fa-email"></i>
            &nbsp; 
            <p class="m-1 p-0">{{'info@globisoft.com'}}</p>
          </li>
        </a>
        </ul>
      </div>
   
      <div class="col-lg-4 col-md-6 p-0 m-0 d-flex justify-content-center align-items-center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3412.3124402627595!2d29.941920974341688!3d31.212072162311383!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f5c4e7dd2480eb%3A0x778fb1dc4d12e86!2zR2xvYmlzb2Z0INis2YTZiNio2Ykg2LPZiNmB2Ko!5e0!3m2!1sen!2seg!4v1727330357486!5m2!1sen!2seg" width="400" height="300" style="border:0; border-radius: 18px;padding: 10px;" allowfullscreen=""  loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>        
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->
  <div class="px-4 py-3">
    <mat-divider style="color: white;"></mat-divider>

   </div>

  </footer>

 

  <div class="container-fluid" >

  <div class="row justify-content-between px-4" style="  background-color:#475569 ; padding-bottom: 10px;">
    <div class="col">
      <span  class="body-text"  style="color: white; text-wrap:  nowrap; font-size: Clamp(13px,1vw,23px);" [innerHTML]="'copyrights' | translate"></span>
    </div>
    <div class="col text-end">
      <p  class="p-0 m-0" 
      style="font-size: Clamp(13px,1vw,23px);   cursor: pointer; color: white;">
      {{'Powered By' | translate}}

      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 53 60" fill="none">
          <g clip-path="url(#clip0_503_4673)">
              <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M-0.000488281 21.4526C-0.000488281 19.9804 1.59429 19.0612 2.86817 19.7992L23.1381 31.5416C23.7279 31.8833 24.091 32.5134 24.091 33.195V34.3586C24.091 35.8308 22.4965 36.75 21.2226 36.0122L7.68493 28.1718C6.41104 27.434 4.81645 28.3532 4.81645 29.8253V42.1551C4.81645 42.8369 5.17973 43.4671 5.76975 43.8087L16.4023 49.9655C17.6762 50.7031 19.2707 49.7839 19.2707 48.3119V47.1481C19.2707 46.4663 18.9075 45.8362 18.3175 45.4946L10.59 41.0189C10 40.6772 9.63681 40.0471 9.63681 39.3653V38.1988C9.63681 36.7266 11.2316 35.8074 12.5055 36.5453L23.138 42.7046C23.7279 43.0463 24.091 43.6764 24.091 44.3581V56.6847C24.091 58.1568 22.4964 59.076 21.2226 58.3382L0.952677 46.5986C0.362731 46.257 -0.000488281 45.6269 -0.000488281 44.9451V21.4526Z"
                  fill="url(#paint0_linear_503_4673)" />
              <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M31.3185 2.78928L27.4592 0.554056C26.8669 0.210972 26.1363 0.210967 25.5439 0.554041L5.26506 12.2988C3.99417 13.0348 3.99417 14.8698 5.26506 15.6058L25.5439 27.3506C26.1363 27.6936 26.8669 27.6936 27.4592 27.3506L47.7384 15.6056C49.0092 14.8696 49.0093 13.0348 47.7385 12.2987L36.1389 5.57918"
                  fill="#173A73" />
              <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M53.0001 21.4526C53.0001 19.9804 51.4053 19.0612 50.1314 19.7992L29.8616 31.5416C29.2717 31.8833 28.9086 32.5134 28.9086 33.195V45.5214C28.9086 46.9935 30.5033 47.9127 31.7772 47.1748L45.3111 39.3351C46.585 38.5972 48.1797 39.5164 48.1797 40.9886V42.1517C48.1797 42.8335 47.8165 43.4636 47.2265 43.8053C41.4383 47.1574 35.65 50.5121 29.8618 53.8642C29.2718 54.2059 28.9086 54.8361 28.9086 55.5178V56.6812C28.9086 58.1533 30.5032 59.0725 31.7771 58.3347L52.0469 46.5952C52.6369 46.2535 53.0001 45.6234 53.0001 44.9417V32.6189C53.0001 31.1467 51.4054 30.2276 50.1315 30.9655L36.5975 38.8051C35.3237 39.5431 33.7289 38.6239 33.7289 37.1517V35.985C33.7289 35.3033 34.0921 34.6732 34.682 34.3315L52.0471 24.2726C52.6369 23.9309 53.0001 23.3009 53.0001 22.6192V21.4526Z"
                  fill="url(#paint1_linear_503_4673)" />
          </g>
          <defs>
              <linearGradient id="paint0_linear_503_4673" x1="12.0453" y1="18.1373" x2="12.0453"
                  y2="59.9995" gradientUnits="userSpaceOnUse">
                  <stop stop-color="#E51313" />
                  <stop offset="1" stop-color="#173A73" />
              </linearGradient>
              <linearGradient id="paint1_linear_503_4673" x1="40.9543" y1="18.1373" x2="40.9543"
                  y2="59.9961" gradientUnits="userSpaceOnUse">
                  <stop stop-color="#E51313" />
                  <stop offset="1" stop-color="#173A73" />
              </linearGradient>
              <clipPath id="clip0_503_4673">
                  <rect width="53" height="59.9999" fill="white" />
              </clipPath>
          </defs>
      </svg>
      <span style="color: #173A73; font-size: Clamp(13px,1vw,23px);   font-family: 'PoetsenOne-Regular';">
          {{'GlobiSoft'}}

      </span>
      &nbsp;
    
  </p>

    </div>
  </div>

  <div   [class.hidden]="!showFreeTrial" class="free-trial" style="transition: opacity 0.5s;" >
    <div class="free-trial-container col">
      <div>
        <a href="https://www.globisoft.com/contact-us/Digital%20Menu/get-a-demo" target="_blank" style="text-decoration: none;"> 
        <span style="color: white; font-weight: 600; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
          {{'freeTrial' | translate}}
        </span>
      </a>
        <img src="free-trial_9449630.png" width="3%">
      </div>
      <button type="button" class="btn-close  btn-close-white"  aria-label="Close" (click)="close()"></button>
    </div>
  </div>
  



<!-- <footer class="text-center text-lg-start " style="background-color: #475569;"> -->
    <!-- <section
      class="d-flex justify-content-center justify-content-lg-between " >
    
    </section> -->
  
    <!-- <section> -->
<!-- 
      <div class="row" style="display: inline-flex;">
     <div class="col-9">

      <div class="col-12">
        <img src="logoWhite.png"   width="100px" > 

      </div>

      <div class="col-12" style="display: inline-flex; justify-content: center; align-items: center; padding:  10px;">
        
<h4>
  View
</h4>
<h4>
  dining
</h4>
<h4>
  delivery
</h4>
<h4>
  Pricing
</h4>
      </div>





     </div>
    </div>

    </section>
   -->

<!--      
   <div style="padding: 40px;">
    <mat-divider style="color: white;"></mat-divider>

   </div>

  </footer>

  <div class="container-fluid" >

  <div class="row justify-content-between px-4" style="  background-color:#475569 ; padding-bottom: 30px;">
    <div class="col">
      <span  class="body-text"  style="color: white;">{{'@ 2023 Mabi. All rights reserved.'}}</span>
    </div>
    <div class="col text-end">
      <span>Powered by </span>
      <a href="https://coreui.io/pro/angular" target="_blank">
        <span>CoreUI for Angular</span>
      </a>
    </div>
  </div>
</div> -->

  



<!-- <div class="custom-container  ">
  <div class="row " style="padding-top: 80px;">
    <div class="col-md-2 col-lg-2   ">
      <img src="logoWhite.png"   width="100px" > -->
      <!-- <h5 class="h-5" style="color: white; margin-top: 30px;">mabi</h5> -->
  
    <!-- </div>

    <div class="col-7">
  
     <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
      <button class="body-text fw-bold mb-4" style="text-decoration: underline; color: white; background-color:#475569 ; border: none;" (click)="display()">
        Product
      </button>


      <div *ngIf="menuFooterEnabled == true">

        <p class="body-text"   style="color: white; font-weight: 400;">Pricing</p>
      
      
          <p class="body-text" style="color: white; font-weight: 400;">Overview</p>

          <p class="body-text"  style="color: white; font-weight: 400;">Browse</p>

          <p class="body-text"  style="color: white; font-weight: 400;">Accessibility</p>

        </div>
      
    </div>

    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
      <p class=" body-text fw-bold mb-4" id="contact" style="color: white; ">
          Contact us
      </p>
      <div class="row d-flex " style="gap: 0; margin: 0;">

        <div class="col ">
        <img src="3d-view-map.png" width="50px" >
      </div>
        <div class="col">
          <p class="p">
            37 Ismaeel, Seri, st, Alexandria Governorate 21615
          </p>
        </div>
      </div>
     

    </div>
   
  </div>
    <div class="col-3">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3412.3124402627595!2d29.941920974341688!3d31.212072162311383!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f5c4e7dd2480eb%3A0x778fb1dc4d12e86!2zR2xvYmlzb2Z0INis2YTZiNio2Ykg2LPZiNmB2Ko!5e0!3m2!1sen!2seg!4v1727330357486!5m2!1sen!2seg" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>        </div>
  </div>
   
</div> -->