<div class="container-xxxl" style=" background-color: #F1F5F9; ">
        <h2 class="h-2 text-center" style="padding-top: 100px;">Our Top Partners</h2>
        <div style="padding: 14px;">
        <div class="row d-flex justify-content-center align-items-center" style="margin-top: 40px;">
            <div class="col-md-2 col-3 img">
                <img src="lo.png" class="img-fluid">
            </div>
            <div class="col-md-2 col-3 img">
                <img src="lo2.png"  class="img-fluid">
            </div>
            <div class="col-md-2 col-3 img">
                <img src="lo3.png"  class="img-fluid">
            </div>
            <div class="col-md-2 col-3 img">
                <img src="lo4.png"  class="img-fluid">
            </div>
            <div class="col-md-2 col-3 img">
                <img src="lo5.png"  class="img-fluid">
            </div>
        </div>

    </div>
        <div class="row d-flex justify-content-center align-items-center" style="margin-left: 40px; margin-right: 40px; margin-top: 40px; padding-bottom: 50px;">
            <div class="col-md-2 col-3 col-sm-4 col-md-3 col-lg-2 img-style">
                <img src="log1.png" alt="Partner 6" class="img-fluid">
            </div>
            <div class="col-md-2 col-3 col-sm-4 col-md-3 col-lg-2 img-style">
                <img src="log2.png" alt="Partner 7" class="img-fluid">
            </div>
            <div class="col-md-2 col-3 col-sm-4 col-md-3 col-lg-2 img-style">
                <img src="log3.png" alt="Partner 8" class="img-fluid">
            </div>
            <div class="col-md-2 col-3 col-sm-4 col-md-3 col-lg-2 img-style">
                <img src="log4.png" alt="Partner 9" class="img-fluid">
            </div>
            <div class="col-md-2 col-3 col-sm-4 col-md-3 col-lg-2 img-style">
                <img src="log5.png" alt="Partner 10" class="img-fluid">
            </div>
        </div>
    </div>
