
<div class="custom-container" >
    <div class="col">
        <h2 class="h-2 text-center" style="padding-top: 100px;">{{'Features' | translate }}</h2>
        
        <div class="row row-cols-1 row-cols-md-3 g-4 m-4">
          @for (item of featuresData.productFeature; track item) {
            <div class="col cardAnim">
              <div class="card h-100 card-border p-3 cardHover" style="background-color: #F1F5F9; border: 1px solid #cbd7e2; border-radius: 15px;"  >
                <div class="d-flex justify-content-center align-items-center p-1 ">
                    <h3 class="h-3 p-0 m-0" style="color: black; font-size: Clamp(23px, 1vw, 30px);"> {{ langService.getLang() == 'en'? item.nameEn : item.nameAr}}</h3>
                </div>
                <div class="card-body d-flex justify-content-center align-items-center row">
                  <p class="card-text body-text-features p-0 m-0">
                    {{ item.isCollapsed ? 
                      (langService.getLang() == 'en' ? 
                        (item.descriptionEn.length > 130 ? (item.descriptionEn | slice:0:131) + '...' : item.descriptionEn) : 
                        (item.descriptionAr.length > 130 ? (item.descriptionAr | slice:0:131) + '...' : item.descriptionAr)) 
                      : 
                      (langService.getLang() == 'en' ? item.descriptionEn : item.descriptionAr) }}
                  </p>
                  <button *ngIf="(langService.getLang() == 'en' ? item.descriptionEn.length : item.descriptionAr.length) > 130" (click)="item.isCollapsed = !item.isCollapsed" class="btn btn-link showMore" >
                    {{ item.isCollapsed ? 'Show More' : 'Show Less' }}
                  </button>
                   </div>
            
              </div>
            </div>
          }
           
          </div>

    </div>
</div>


<!-- <div class="container-xxxl" >
    <div class="col">
        <h2 class="h-2 text-center" style="padding-top: 100px;">How it works</h2>
        
        <div class="row row-cols-1 row-cols-md-3 g-4 m-4" *ngIf="featuresData">
    
            <div class="col">
              <div class="card h-100 card-border card-style"   >
                <div class="d-flex justify-content-center align-items-center m-4">
                    <img src="{{featuresData.icon}}" class="img-fluid" >
                </div>
                <div class="card-body">
                  <p class="card-text body-text">Elit purus magna donec mattis amet, leo varius sed. Ut metus sed convallis pretium sollicitudin turpis semper vulputate.</p>
                </div>
            
              </div>
            </div>
          
           
          </div>

    </div>
</div> -->