<div style="background-color: #F1F5F9;">

    <div class="custom-container" >
    <div class="row Anim" style="padding: 50px;display: flex; justify-content: center; align-items: center;">

        <div class="col-12 col-md-6">
            <h2 class="h-2" style="color: black;">{{'Order Management Dashboard' | translate}}</h2>
            <p class="body-text" style="color: black; margin-top: 30px; text-align: justify; -moz-text-align-last: justify; " [innerHTML]="'fourthSectionParagraph' | translate"></p>
            

        </div>
        
        <div class="col-12 col-md-6 d-flex justify-content-center">
            <img src="section4.png" alt="" class="img-fluid " > 

        </div>
        </div>
      </div>

    
    </div>
