<div style="background-color: #F1F5F9;">

    <div class="custom-container" >
    <div class="row Anim " style="padding: 50px;display: flex; justify-content: center; align-items: center;">

      
        
        <div class="col-12 col-md-4 d-flex justify-content-center align-items-center " style="padding-bottom: 20px;">
            <img src="sec3.png" alt="" class="img-fluid "  > 

        </div>

        <div class="col-12 col-md-8">
            <h2 class="h-2" style="color: black;">{{'newSectionTitle' | translate}}</h2>
            <p class="body-text" style="color: black; margin-top: 30px;  text-align: justify; -moz-text-align-last: justify; " [innerHTML]="'newSectionParagraph' | translate"></p>
            

        </div>

        </div>
      </div>

    
    </div>
