<div class="img " style="margin: 0; background-color: #F1F5F9;">

    <div class="container-xxl" >
    <div class="row " style="padding-top: 55px; padding-left: 20px; display: flex; justify-content: center; align-items: center;">

        <div class="col-12 col-md-6 d-flex justify-content-center">
            <img src="footerPic.png"  class="img-fluid " style=" margin-top: 60px;" > 
        </div>

        <div class="col-12 col-md-6 "  >
            <h2 class="h-2 my-4" style="color: white; padding-top: 20px;">{{'seventhSectionTitle' | translate}}</h2>
            <p class="body-text " style="color: white;  text-align: justify; padding: 10px; ">{{'seventhSectionParagraph' | translate}}</p>
            <div >
                <button class="nav-links-style button2-style"  onclick="window.open('https://www.globisoft.com/products/3-restaurants-software' , '_blank')" >{{'TryButton' | translate}}</button>

            </div>

        </div>
      
      </div>

    
    </div>
</div>