<div class="img" style=" margin: 0;  background-color: #F1F5F9; overflow: hidden;">

    <div class="custom-container " >
    <div class="row" style="padding: 50px;display: flex; justify-content: center; align-items: center;">
        <div class="col-12 col-md-6" style="z-index: 200;">
            
            <h1 class="h-1 logo textAnim ">{{"Menus'n More" | translate }}</h1>
            <h2 class="h-2 textColor textAnim" style="text-wrap: nowrap; ">{{'All You Need' | translate}}</h2>
            <!-- <p  class="body-text p-0" style="color: white;">{{'Our is <span class="logo">Menus`n More</span> scan, order, and even Track all that with  Menus`n More your business needs More.' | translate}}</p> -->
            <p  class="body-text p-0 textAnim" style="color: white;" [innerHTML]="'m' | translate"></p>

            <button class="nav-links-style button2-style textAnim" style="width: fit-content;" (click)="open()">{{'Check Our Demo' | translate}}</button>

        </div>
        <div class="col-12 col-md-6 d-flex justify-content-center " style="position: relative;">

            <div id="carouselExampleSlidesOnly" class="carousel slideimageAnim p-4" data-bs-ride="carousel" data-bs-pause="false" data-bs-interval="2500">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="Section1.png" class="d-block img-fluid"  >
      </div>
      <div class="carousel-item">
        <img src="slide2.png" class="d-block img-fluid" alt="...">
      </div>
      <div class="carousel-item">
        <img src="section1slide2.png" class="d-block img-fluid" alt="...">
      </div>
      <div class="carousel-item">
        <img src="section1slide3.png" class="d-block img-fluid" alt="...">
      </div>
    </div>
  </div>
            <!-- <img src="Section1.png" class="img-fluid imageAnim " alt="" style=" margin-top: 60px; bottom: 0;" >  -->
        </div>
      </div>

    
    </div>
</div>