<div style="background-color: #F1F5F9;">

    <div class="custom-container" >
    <div class="row textAnimate" style="padding: 50px;display: flex; justify-content: center; align-items: center;">

        <div class="col-12 col-md-7 ">
            <h2 class="h-2" style="color: black;"  >{{'qrSectionTitle'| translate}}</h2>
            <p class="body-text" style="color: black; margin-top: 30px;   text-align: justify; -moz-text-align-last: justify;" [innerHTML]="'qrSectionParagraph' | translate"></p>
            

        </div>
      
        
        <div class="col-12 col-md-5 d-flex justify-content-center align-items-center " style="padding-bottom: 20px;">
            <img src="rightpic.png" alt="" class="img-fluid "  > 

        </div>

      

        </div>
      </div>

    
    </div>
